.movies-cards {
  padding: 74px 70px 80px 70px;
  box-sizing: border-box;
  background-color: #202020;
}

@media screen and (max-width: 1024px) {
  .movies-cards {
    padding: 83px 30px 0 30px;
  }
}

@media screen and (max-width: 620px) {
  .movies-cards {
    padding: 50px 6px 0 6px;
  }
}

.movies-cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 34px 22px;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .movies-cards__list {
    gap: 37px 19px;
    justify-content: center;
  }
}

@media screen and (max-width: 620px) {
  .movies-cards__list {
    gap: 16px;
  }
}


.movies-cards__btn-more {
  display: block;
  width: 320px;
  height: 36px;
  margin: 60px auto 0 auto;
  padding: 0;
  border: 1px solid #424242;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter', Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  transition: 0.3s ease;
}
.movies-cards__btn-more:hover {
  opacity: 0.8;
}

@media screen and (max-width: 620px) {
  .movies-cards__btn-more {
    width: 240px;
  }
}

